.btn-content {
    position: absolute;
    right: 2.5%;
    top: 2.5%;
    display: flex;
    margin-top: 0.5%;
    pointer-events: all;


    button {
        &.toogle-open {
            .line-menu-content {
                position: absolute;
                width: 17%;
                height: 50%;

                top: 25%;
                left: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                transform-origin: 50%;
                transition: transform 0.1s ease-in-out;
                gap: 5px;

                .line-menu {
                    border-radius: 10px;
                    width: 100%;
                    height: 10%;
                    display: block;
                    background-color: aliceblue;
                    transform-origin: 100% 50%;
                    transition: transform ease-in-out 0.1s;

                    .line-midle {
                        transform-origin: 50%;
                    }
                }
            }

            &.open {
                .line-menu-content {
                    // transform: scaleX(0.5)
                }

                .line-top {
                    transform: rotate(-50deg) scaleX(1.2);
                }

                .line-midle {
                    transform: scale(0);
                }

                .line-bottom {
                    transform: rotate(50deg) scaleX(1.2);
                }
            }
        }


        &.back {
            clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
            transform: translateX(100%);
            opacity: 0;
            transition: transform 0.2s ease-out, opacity 0.2s linear;

            &.show {
                transform: translateX(0%);
                opacity: 1;
            }
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}