@import './mixin';
@import './animations';

$pespective : 250px;

// +++++++++++++++ STATIC CONFIG +++++++++++++++++++
.la-menu2d {
    * {
        padding: 0;
        margin: 0;
    }

    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform-origin: 0;
    pointer-events: none;
    display: flex;
    align-items: center;

    .la-menu2d-container{
        transform-style: preserve-3d;
        perspective: $pespective ;
        width: 100%;


        .la-menu2d-item-container {
            width: 40%;
            min-height: 20vh;
            transform-origin: 0;
            transform-style: preserve-3d;
            transform: translate3d(0, 0, 0) rotateY(15deg);
            position: relative;
    
            background-size: 30% 100%;
            background-repeat: no-repeat;
    
            pointer-events: all;
            cursor: pointer;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                position: relative;
            }
    
            .content-rotate {
                width: 180%;
                min-height: 100%;
                transform-origin: 0%;
                top: 0;
                left: 0;
                position: absolute;
                transform: translateX(55%) rotateY(-20deg);
            }
    
            .content {
                position: absolute;
                width: 100%;
                min-height: 100%;
                background: rgb(0, 0, 0);
                background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(70, 70, 70, 1) 100%);
                display: flex;
                align-items: center;
                overflow: hidden;
    
                opacity: 0;
    
                .show-content {
                    color: white;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    align-items: center;
    
                    &>div {
                        width: 50%;
                        margin-left: 10%;
                    }
                }
    
                cursor: pointer;
    
            }
        }
    }

}

$animation: 0.3s;
$deley: 0.15s;


// +++++++++++++++ ANIMATION CONFIG +++++++++++++++++++
.la-menu2d {
    .la-menu2d-item-container{

        &::after {
            @include after-line;
            @include animatioin-open-close;
        }

        .la-content-img{
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            display: block;
            background-repeat: no-repeat;
            position: absolute;
            opacity: 0;
            transition: opacity 0.5s;
            
        }
        
        &.opening {
            animation-name: openLine-img;
            @include animatioin-open-close;
            
            &:after {
                animation-name: openLine-after;
            }
            
            .la-content-img{
                transition-delay: 0.2s;
                opacity: 1;
            }
            

            .content-rotate:after {
                @include after-line;
                animation-name: openLine-after;
                animation-delay: $deley;
                @include animatioin-open-close;
            }

            .content {
                opacity: 0;
                animation-name: openLine-opacity;
                animation-delay: $animation;
                @include animatioin-open-close;
            }

        }

        &.closing {
            animation-name: closeLine-img;
            @include animatioin-open-close;

            &:after {
                animation-name: closeLine-after;
                transform-origin: 100% 100%;
                @include animatioin-open-close;
            }

            .content-rotate:after {
                @include after-line;
                animation-name: closeLine-after;
                animation-delay: $deley;
                transform-origin: 100%;
                @include animatioin-open-close;
            }

            .content {
                opacity: 1;
                animation-name: closeLine-opacity;
                // animation-delay: 0.5s;
                @include animatioin-open-close;
            }
        }
    }

}
